spring:
  application:
    name: springboot4-opentelemetry
  otlp:
    metrics:
      export:
        url: http://localhost:4318/v1/metrics
  opentelemetry:
    tracing:
      export:
        otlp:
          endpoint: http://localhost:4318/v1/traces
    logging:
      export:
        otlp:
          endpoint: http://localhost:4318/v1/logs

management:
  tracing:
    sampling:
      probability: 1.0

server:
  shutdown: immediate
logging:
  level:
    com.xavierbouclet: INFO
    org.springframework.boot.actuator.autoconfigure.opentelemetry: DEBUG
    org.springframework.boot.docker.compose: DEBUG
    io.micrometer.registry.otlp: DEBUG
    io.micrometer.core.instrument.push: DEBUG
