services:
  grafana-lgtm:
    image: 'grafana/otel-lgtm:latest'
    ports:
      - '3000:3000'
      - '4317:4317'
      - '4318:4318'
  app:
    image: 'springboot4-opentelemetry:0.0.1-SNAPSHOT'
    container_name: app
    ports:
      - "8080:8080"
    environment:
      SPRING_OTLP_METRICS_EXPORT_URL: http://grafana-lgtm:4318/v1/metrics
      SPRING_OPENTELEMETRY_TRACING_EXPORT_OTLP_ENDPOINT: http://grafana-lgtm:4318/v1/traces
      SPRING_OPENTELEMETRY_LOGGING_EXPORT_OTLP_ENDPOINT: http://grafana-lgtm:4318/v1/logs
#      OTEL_EXPORTER_OTLP_METRICS_ENDPOINT: http://grafana-lgtm:4318/v1/metrics
#      OTEL_EXPORTER_OTLP_TRACES_ENDPOINT: http://grafana-lgtm:4318/v1/traces
#      OTEL_EXPORTER_OTLP_LOGS_ENDPOINT: http://grafana-lgtm:4318/v1/logs
#      OTEL_EXPORTER_OTLP_ENDPOINT: http://grafana-lgtm:4318
      MANAGEMENT_OTLP_METRICS_EXPORT_URL: http://grafana-lgtm:4318/v1/metrics
#      MANAGEMENT_OTLP_TRACING_ENDPOINT: http://grafana-lgtm:4318/v1/traces
      MANAGEMENT_OPENTELEMETRY_TRACING_EXPORT_OTLP_ENDPOINT: http://grafana-lgtm:4318/v1/traces
      MANAGEMENT_OPENTELEMETRY_LOGGING_EXPORT_OTLP_ENDPOINT: http://grafana-lgtm:4318/v1/logs
      MANAGEMENT_OTLP_ENDPOINT: http://grafana-lgtm:4318
#      OTEL_SERVICE_NAME: springboot4-opentelemetry

    depends_on:
      - grafana-lgtm